@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
:root {
    --colorTextSecondary: floralwhite;

    --colorPrimary: #20408A;
    --colorSecondary: #A9ABAE;

    --fontMain: 'Raleway', Arial, Helvetica, sans-serif;

    --imgDelete: url(../img/trash.png);

    --widthLabel: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
}

header {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

main {
    padding: 0.5rem;
    line-height: 1.4rem;
    @media (min-width: 1024px) {
        width: 90%;
        margin: auto;
    }
    @media (min-width: 1224px) {
        width: 80%;
        margin: auto;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}

form {
    > div {
        margin-bottom: 0.5rem;
    }
    label {
        width: var(--widthLabel);
    }

    input {
        &[type=text] {
            display: block;
            width: 100%;
        }
        &[id=txtYear] {
            float: right;
            display: inline;
            width: auto;
            text-align: right;
        }
        @media (min-width: 480px) {
            &.textInput {
                float: right;
                width: calc(100% - var(--widthLabel));
                display: inline;        
            }
        }        
        &[type=submit] {
            margin-top: 0.5rem;
            padding: 0.25rem 1rem;
            border-radius: 0.25rem;
            font-family: var(--fontMain);
            font-size: 1.2rem;    
            color: var(--colorPrimary);
        }
    }
}

table {
    visibility: hidden;
    width: 100%;
    table-layout: auto;
    border: solid thin var(--colorPrimary);    
    > thead {
        color: var(--colorTextSecondary);
        background-color: var(--colorPrimary);
        text-align: left;
    }
    th, tr {
        padding: 0 0.5rem;
    }
    th.right, td.right {
        text-align: right;
    }
}

.visible {
    visibility: visible;
}

img.delete {
    content: var(--imgDelete);
    cursor: pointer;
}